/*===============================================
TOP
===============================================*/

#top ul{

    padding-top: 8px;

}

#top ul li{

    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: white;

}

.social ul li a i{

    font-size: 18px;
    margin: 1px;

}

.registro{

    text-align: right;
    font-size: 12px;

}

/*===============================================
HEADER
================================================*/


/*
BloqueCatBus
*/
header #bloqueCatBus{

    padding: 0px;

}

header button.backColor:hover, header .hover.backColor:hover{

    background-color: #ee6614;
    color: wheat;

}

/*
btnCategorias
*/

header #btnCategorias{

    margin: 25px 0;
    margin-bottom: 0;

}

/*
Buscador
*/

header #buscador{

    margin: 25px 0;
    padding: 0;
    margin-bottom: 0;

}

header #buscador input{

    padding: 19px;
    border-radius: 0;

}

header #buscador button{

    padding: 7px;
    border: 1px solid silver;
    border-radius: 0;

}

/*
Carrito
*/
header #carrito{

    margin: 25px 0px;
    padding: 0px;
    margin-bottom: 0;
    width: 100%;

}

header #carrito p{

    padding: 0px;
    padding-left: 60px;
    border: 1px solid #aaa;
    font-size: 12px;

}

/*
Categorias
*/

header #categorias{

    display: none;
    position: relative;
    padding: 30px;

}

header #categorias h4{

    margin-top: 20px;
    margin-bottom: -10px;

}

header #categorias hr{

    border: 1px solid rgba(255,255,255,.3);

}

/*
Alineacion Vertical
*/
.vertical{

    position: relative;

}
.vertical > *{

    position: absolute;
    top: 50%;
    margin-top: -50px;

}

/*=================================================
VENTANAS MODALES
=================================================*/
.modalTitulo{

    padding: 5px 0px

}

.modalTitulo h3{

    text-align: center;
    margin-top: -6px;
    padding: 15px 0px;
    border-radius: 5px 5px 0px 0px;

}

.modalFormulario .facebook, .modalFormulario .google{

    cursor: pointer;

}

.modalFormulario .facebook p, .modalFormulario .google p{

    color: white;
    text-align: center;
    line-height: 40px;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;


}

.modalFormulario .facebook p{

    background: #46639f;

}

.modalFormulario .google p{

    background: #d6513e;

}

.modalFormulario p i{

    margin-left: -25px;
    margin-left: 25px;
    font-size: 25px;

}

.modalFormulario form{

    padding: 30px;

}

.modalFormulario form hr{

    border: 1px solid #eee;

}

.modalFormulario form input[type="text"],
.modalFormulario form input[type="email"],
.modalFormulario form input[type="password"]{

    padding: 25px;

}

.modalFormulario form input[type="submit"]{

    padding: 15px;

}

/*=================================================
ESCRITORIO GRANDE (LG revisamos en 992px en adelante)
=================================================*/

@media (min-width: 992px){

    /*Cabezote General*/
    header .container-fluid{

        padding-left: 0px !important;

    }

    /*
    Logotipo
    */
    header #logotipo img{

        padding: 0px 15px;
        padding-top: 10px;

    }

}

/*=================================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 900px)
=================================================*/

@media (max-width: 992px) and (min-width:768px){

    /*Cabezote General*/

    header .float-right {
        float: none!important;
    }

    header .container-fluid{

        padding-left: 10px !important;
        padding-right: 0px !important;

    }

    /*
    Logotipo
    */
    header #logotipo img{

        padding: 0px 25px;
        padding-top: 10px;

    }

    /*
    btnCategorias
    */

    header #btnCategorias p{

        line-height: 40px;
        margin-bottom: 0px;
        text-align: center;

    }

}

/*=================================================
ESCRITORIO CHICO O TABLET VERTICAL (SM revisamos en 700px)
=================================================*/

@media (min-width: 576px) and (max-width: 768px){

    /*Cabezote General*/

    header .container-fluid{

        width: auto !important;

    }

    header .float-right {
        float: none!important;
    }

    header .vertical{

        position: static;
        width: 100%;

    }

    header .vertical > *{

        position: static;
        top: auto;
        margin-top: 0;

    }

    /*
    Logotipo
    */

    header #logotipo a{

        display: block;
        width: 100%;
        margin: 0px;
        margin-top: 20px;

    }

    header #logotipo img{

        display:block;
        margin: auto;
        max-width: 50px;
        width: auto;
        max-width: 150px;
        padding: 0px;

    }

    /*
    BloqueCatBus
    */

    header #bloqueCatBus{

        padding-right: 10px;

    }

    /*
    btnCategorias
    */

    header #btnCategorias p{

        line-height: 40px;
        margin-bottom: 0px;
        text-align: center;

    }

    header #carrito{

        margin-bottom: 0px;

    }
    header #buscador{

        margin-bottom: 0;

    }

    /*btnCategorias*/
    header #btnCategorias{

        margin-bottom: 0;

    }

}

/*=================================================
MOVIL (XS revisamos en 320px)
=================================================*/

@media (max-width: 576px){

    /*Cabezote general*/

    header .container-fluid{

        width: auto !important;

    }

    header .vertical{

        position: static;
        width: 100%;

    }

    header .vertical > *{

        position: static;
        top: auto;
        margin-top: 0;

    }

    /*
    Logotipo
    */

    header #logotipo a{

        display: block;
        width: 100%;
        margin: 0px;
        margin-top: 10px;

    }

    header #logotipo img{

        display:block;
        margin: auto;
        max-width: 50px;
        width: auto;
        max-width: 150px;
        padding: 0px;

    }

    /*btnCategorias*/
    header #btnCategorias{

        margin: 5px 0;

    }

    /*Carrito*/

    header #carrito{

        margin: 5px 0;

    }

    /*
    Buscador
    */

    header #buscador{

        margin: 0;

    }

    .modalFormulario .google p{

        margin-top: -16px !important;

    }

}