:root{

    --A4-height: 297mm;
    --A4-width: 210mm;
    --campo-heigth: calc(--A4-height/4);
    --campo-width: calc(--A4-width/4);

}

body{

    padding: 0;
    margin: 0;
    border: none;
    min-height: 100vh;

}

body *{

    font-family: Arial, Helvetica, sans-serif;

}

.bloque{

    display:block;

}

.linea{

    display: inline-block;
    vertical-align:top

}

.mg-sep-elementos{

    margin: 4px 2px;

}

#documento{

    background-color: #555555;

}

.pagina{

    margin-top: 10px;
    width: var(--A4-width);
    margin-left: auto;
    margin-right: auto;

}

.horizontal{

    width: var(--A4-height) !important;

}

.pagina table{

    border-collapse: collapse;
    height : var(--A4-height);
    width: var(--A4-width);
    background-color: white;
    table-layout: fixed;

}

.tx-aling-centro{

    text-align: center !important;

}

.horizontal table{

    table-layout: fixed;
    height : var(--A4-width) !important;
    width: var(--A4-height) !important;

}

div.pagina td{

    border: 1px solid black;
    height: var(--campo-heigth);

}

div.pagina td,div.pagina td>div{

    margin: 0;
    padding: 0;
    width: var(--campo-width);
    overflow: hidden;

}

div.pagina td>div{

    height: 280px;

}

div.horizontal td,div.horizontal td>div{

    width: var(--campo-heigth);

}

div.horizontal td>div{

    height: var(--campo-width);

}

div.horizontal td>div{

    height: 200px;

}

div.pagina td div[contenteditable]{

    width: 100%;
    overflow: hidden !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    display:none;
    text-transform: uppercase;
    border: 1px solid black;

}

div.pagina td.etiquetas div[contenteditable]{

    display:block !important;

}

div.horizontal td.etiquetas .et-nombre{

    height: 35px !important;

}

div.pagina td.etiquetas .et-nombre{

    height: 55px;
    font-size: 14px;

}

div.pagina td.etiquetas .et-clave{

    height: 201px;
    font-size: 70px;
    font-weight: bold;

}

div.horizontal td.etiquetas .et-clave{

    /*height: 142px !important;*/

}

div[contenteditable='true'] {
    width: 500px;
    height: 70px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
}

div[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

div[contenteditable][placeholder]:empty:focus:before {
    content: "";
}

.sinBorde{

    border: none;

}

td.seleccion{

    background-color: #c5d0f6;
    border-style: dashed;
    border-color: white;

}

#menu ul{

    list-style: none;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 1px;

}

#menu li{

    line-height: 30px;
    font-size: 16px;
    cursor: pointer;

}

#menu li:hover{

    background-color: skyblue;

}

#menu{

    width:250px;
    position: absolute;
    border:1px solid black;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    background-color: ghostwhite;

}

.ocultar{

    display: none;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#navbar {

    overflow: hidden;
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    z-index: 1;

}

.izquierda{

    float:left;
    width:10%;
    padding: 5px;
    text-align:center;

}

.centro{

    float:left;
    width: 80%;
    padding:0 20px;

}

select{

    background-color: #787878; /* Green */
    border: none;
    color: white;
    height: 33px;
    width: 110px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;

}

.button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.button5 {

    background-color: white;
    color: black;
    border: 2px solid #555555;

}

.button5:hover {

    background-color: #555555;
    color: white;

}

input[type=text].inputText{

    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;

}

input[type=text].inputText:focus {

    background-color: lightgrey;
    animation-name: agrandar;
    animation-duration: 1s;
    width: 100%;

}

input[type=text].inputText:not(:focus) {

    animation-name: encoger;
    animation-duration: 1s;
    width: 20%;

}

.sinBorde{

    border: none !important;

}

@keyframes agrandar{

    0% { width: 20%; }
    100% { width: 100%; }

}

@keyframes encoger{

    0% { width: 100%; }
    100% { width: 20%; }

}

/* SWITCH */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

select{



}